extends ../boilerplate.pug

block content
  .container.h-100.white
    .row.h-100.d-flex.align-items-center.flex-row
      .col-md-6.mx-auto.text-center
        a.btn.btn-primary.btn-lg.mr-3(href='/signin/consumer') Consumer
        a.btn.btn-primary.btn-lg.ml-3(href='/signin/provider') Provider
